@model ColorSender.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="container">
<section id="loginForm">
    
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="control-group"> 
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
             </div>
            <div class="control-group"> 
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-actions">  
                <input type="submit" value="Log in" />
            </div>
        </fieldset>
    }
</section>
</div>